html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

/* Footer */

.copyright {
    margin: 15px 0;
}

/* Home page */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 6vmin;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro > .profile {
    width: 18vmin;
    height: 18vmin;
    border-radius: 50%;
}

/* Apply accent colour to links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Paginator at bottom of list view */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts and projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation bar icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Coloured borders at top and bottom of the page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

/* p5.js */
canvas.backgroundsketch {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.pub-myself {
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

.pub-reviewed {
    font-weight: bold;
}

.pub-award {
    font-weight: bold;
}

/* Formspree */

#fs-frm label, #fs-frm ::placeholder {
    display  : flex;
    font-weight: 500;
    padding-top: .2rem;
    margin-bottom: .5rem;
    align-items: baseline:
}

#fs-frm input, #fs-frm textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: .75em 1.25rem;
    width: 100%;
}

#fs-frm [type="submit"], #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1.25rem;
}
